# Exclude files from exporting
.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore

# Include markdown files in repo stats
*.md linguist-vendored=false
*.md linguist-generated=false
*.md linguist-documentation=true
*.md linguist-detectable=true

# WebAssembly Stats
*.wat linguist-detectable=true
*.wat linguist-documentation=false
*.wat linguist-language=WebAssembly
*.wasm linguist-detectable=true
*.wasm linguist-documentation=false
*.wasm linguist-language=WebAssembly

# Auto detect text files and perform LF normalization
*               text=auto
# The above will handle all files NOT found below
*.bmp           binary
*.c             text eol=lf
*.cjs           text eol=lf
*.cts           text eol=lf
*.gitattributes text eol=lf
*.gitignore     text eol=lf
*.idx           text eol=lf
*.js            text eol=lf
*.json          text eol=lf
*.map           text eol=lf
*.md            text diff=markdown
*.mjs           text eol=lf
*.mts           text eol=lf
*.node          text eol=lf
*.npmignore     text eol=lf
*.pack          text eol=lf
*.patch         -text
*.pdf           binary
*.rev           text eol=lf
*.sample        text eol=lf
*.svg           text eol=lf
*.ts            text eol=lf
*.txt           text eol=lf
*.wat           text eol=lf
*.wasm          text eol=lf
*.yml           text eol=lf
